In [1]:
import os
import pandas as pd
import pyreadr
import geopandas as gpd

# result = pyreadr.read_r('test_data/basic/two.RData')

In [60]:
# hh_df[]

In [58]:
# df = pd.read_csv(r'C:\Workspace\VisionEval\models\VERSPM\output\BZone.csv')
# result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Household\DailyCO2e.RDa')

In [ ]:
# result

OrderedDict([('Dataset',
                       Dataset
              0             12
              1             12
              2              1
              3             29
              4             14
              ...          ...
              1769874       25
              1769875       25
              1769876       17
              1769877       28
              1769878       17

              [1769879 rows x 1 columns])])

In [2]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM\Datastore'
year = '2018'
def export_households(output_dir, year, scenario_name):

    hh_df = pd.DataFrame()
    hh_path = os.path.join(output_dir, year, 'Household')
    for fname in os.listdir(hh_path):
        result = pyreadr.read_r(os.path.join(hh_path, fname))
        hh_df[fname.split('.')[0]] = result['Dataset']['Dataset']
    hh_df['Scenario'] = scenario_name

    return hh_df

In [3]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM\Datastore'
hh_df_base = export_households(output_dir, year='2018', scenario_name='2018')
year = '2018'
output_dir = r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore'
hh_df_scen = export_households(output_dir, year='2018', scenario_name='more_transit')
hh_df = hh_df_base.append(hh_df_scen)

In [16]:
# Load soundcast reslts for vehicles and drivers
daysim_hh = pd.read_csv(r'L:\RTP_2022\final_runs\sc_2018_rtp_final\soundcast\outputs\daysim\_household.tsv', delim_whitespace=True)

# Load soundcast reslts for vehicles and drivers
daysim_trip = pd.read_csv(r'L:\RTP_2022\final_runs\sc_2018_rtp_final\soundcast\outputs\daysim\_trip.tsv', delim_whitespace=True)

daysim_person = pd.read_csv(r'L:\RTP_2022\final_runs\sc_2018_rtp_final\soundcast\outputs\daysim\_person.tsv', delim_whitespace=True)

In [5]:
hh_df_base.columns

Index(['Age0to14', 'Age15to19', 'Age20to29', 'Age30to54', 'Age55to64',
       'Age65Plus', 'AveCO2ePM', 'AveGPM', 'AveKWHPM', 'AveRoadUseTaxPM',
       'AveSocEnvCostPM', 'AveTrpLenDiverted', 'AveVehCostPM', 'AveVehTripLen',
       'Azone', 'BikeTrips', 'Bzone', 'CarSvcLevel', 'DailyCO2e', 'DailyGGE',
       'DailyKWH', 'Drivers', 'Drv15to19', 'Drv20to29', 'Drv30to54',
       'Drv55to64', 'Drv65Plus', 'DrvAgePersons', 'Dvmt', 'FreeParkingSpaces',
       'HasPaydIns', 'HhId', 'HhSize', 'HhType', 'HouseType', 'Income',
       'IsEcoDrive', 'IsIMP', 'IsUrbanMixNbrhd', 'LifeCycle', 'LocType',
       'Marea', 'NumAuto', 'NumHighCarSvc', 'NumLtTrk', 'OtherParkingCost',
       'OwnCost', 'OwnCostSavings', 'ParkingUnitCost', 'PropDvmtDiverted',
       'PropTdmDvmtReduction', 'SovDvmtProp', 'TransitTrips', 'UrbanDvmtProp',
       'Vehicles', 'VehicleTrips', 'WalkTrips', 'Wkr15to19', 'Wkr20to29',
       'Wkr30to54', 'Wkr55to64', 'Wkr65Plus', 'Workers', 'Scenario'],
      dtype='object')

In [6]:
# df = pd.read_csv(r'')

In [17]:
hh_df_base['Drivers'].sum()

3202833.0

In [18]:
# daysim_hh.columns

In [19]:
hh_df_base['Drivers'].sum()

3202833.0

In [20]:
hh_df_base['Income'].mean()

107056.14741824458

### Vehicle Ownership

Overpredicting vehicles owned by 15%, about in line with the overpredictions of workers

In [21]:
hh_df_base['Vehicles'].sum()

3537945.0

In [22]:
# daysim_hh['hhvehs'].sum()

In [23]:
# Number of zero-vehicle households
hh_df_base.groupby('Vehicles').count()['Age0to14']

Vehicles
1.0    438916
2.0    605260
3.0    397460
4.0    132260
5.0     27521
6.0      4721
7.0        74
8.0        80
Name: Age0to14, dtype: int64

In [24]:
# Not predicting any 0-vehicle households...
hh_df_base[hh_df_base['Vehicles'] == 0]

Empty DataFrame
Columns: [Age0to14, Age15to19, Age20to29, Age30to54, Age55to64, Age65Plus, AveCO2ePM, AveGPM, AveKWHPM, AveRoadUseTaxPM, AveSocEnvCostPM, AveTrpLenDiverted, AveVehCostPM, AveVehTripLen, Azone, BikeTrips, Bzone, CarSvcLevel, DailyCO2e, DailyGGE, DailyKWH, Drivers, Drv15to19, Drv20to29, Drv30to54, Drv55to64, Drv65Plus, DrvAgePersons, Dvmt, FreeParkingSpaces, HasPaydIns, HhId, HhSize, HhType, HouseType, Income, IsEcoDrive, IsIMP, IsUrbanMixNbrhd, LifeCycle, LocType, Marea, NumAuto, NumHighCarSvc, NumLtTrk, OtherParkingCost, OwnCost, OwnCostSavings, ParkingUnitCost, PropDvmtDiverted, PropTdmDvmtReduction, SovDvmtProp, TransitTrips, UrbanDvmtProp, Vehicles, VehicleTrips, WalkTrips, Wkr15to19, Wkr20to29, Wkr30to54, Wkr55to64, Wkr65Plus, Workers, Scenario]
Index: []

[0 rows x 64 columns]

In [25]:
daysim_hh.groupby('hhvehs').count()['hhexpfac']

hhvehs
0    106565
1    486738
2    584187
3    297104
4    130669
Name: hhexpfac, dtype: int64

3069100

### Household VMT

In [26]:
veh_trips = daysim_trip[(daysim_trip['mode'].isin([3,4,5])) & (daysim_trip['dorp'] == 1)]
veh_trips['travdist'].sum()

68905100.66814058

In [27]:
hh_df_base['Dvmt'].sum()

75541664.20029886

### Average trip distance (miles)

In [28]:

veh_trips['travdist'].sum()/len(veh_trips)

6.899108425644939

In [29]:
hh_df_base['Dvmt'].sum()/hh_df_base['VehicleTrips'].sum()

8.650709895021272

In [92]:
hh_df_base['Dvmt'].sum()

75541664.20029886

### Average vehicle trips per Person

In [30]:

hh_df_base['VehicleTrips'].sum()/hh_df_base['HhSize'].sum()

2.1545038122754865

In [31]:
veh_trips = daysim_trip[(daysim_trip['mode'].isin([3,4,5])) & (daysim_trip['dorp'] == 1)]
len(veh_trips)/len(daysim_person)

2.46413953183126

#### Average vehicle trips per Household

In [32]:
len(veh_trips)/len(daysim_hh)

6.221744972630653

In [33]:
hh_df_base['VehicleTrips'].sum()/(len(hh_df_base))

5.4363862302379635

In [34]:
len(daysim_hh)

1605263

In [35]:
len(hh_df_base)

1606292

### HH Size

In [36]:
daysim_hh['hhsize'].mean()

2.5249158549097563

In [37]:
hh_df_base['HhSize'].mean()

2.523266006429715

In [61]:
# Total population
hh_df_base['HhSize'].sum()

4053102.0

In [64]:
daysim_hh['hhsize'].sum()

4053154

In [38]:
# hh_df_base.groupby('Bzone').mean()['IsUrbanMixNbrhd'].sort_values()
mixed_zones = hh_df_base[hh_df_base['IsUrbanMixNbrhd'] == 1]['Bzone'].unique()

In [39]:
# gdf = gpd.read_file(r'T:\2022March\Brice\tl_2020_53_bg.shp')

In [40]:
# gdf[gdf['GEOID'].isin(mixed_zones)].plot(figsize=(20,20))
# gdf

### Kids ages 0 to 14

In [41]:
hh_df_base['Age0to14'].sum()

689305.0

In [42]:
len(daysim_person[daysim_person['pagey'] < 15])

689061

In [49]:
len(daysim_person[(daysim_person['pagey'] >= 15) & (daysim_person['pagey'] < 20)])

261807

In [50]:
len(daysim_person[(daysim_person['pagey'] >= 20) & (daysim_person['pagey'] < 30)])

553697

In [51]:
len(daysim_person[(daysim_person['pagey'] >= 30) & (daysim_person['pagey'] < 55)])

1403200

In [52]:
len(daysim_person[(daysim_person['pagey'] >= 55) & (daysim_person['pagey'] <65)])

572966

In [53]:
len(daysim_person[daysim_person['pagey'] >= 65])

572423

In [45]:
hh_df_base[['Age0to14','Age15to19','Age20to29','Age30to54','Age55to64','Age65Plus']].sum()

Age0to14      689305.0
Age15to19     261884.0
Age20to29     553670.0
Age30to54    1402911.0
Age55to64     572924.0
Age65Plus     572408.0
dtype: float64

In [310]:
hh_df_base.columns

Index(['Age0to14', 'Age15to19', 'Age20to29', 'Age30to54', 'Age55to64',
       'Age65Plus', 'AveCO2ePM', 'AveGPM', 'AveKWHPM', 'AveRoadUseTaxPM',
       'AveSocEnvCostPM', 'AveTrpLenDiverted', 'AveVehCostPM', 'AveVehTripLen',
       'Azone', 'BikeTrips', 'Bzone', 'CarSvcLevel', 'DailyCO2e', 'DailyGGE',
       'DailyKWH', 'Drivers', 'Drv15to19', 'Drv20to29', 'Drv30to54',
       'Drv55to64', 'Drv65Plus', 'DrvAgePersons', 'Dvmt', 'FreeParkingSpaces',
       'HasPaydIns', 'HhId', 'HhSize', 'HhType', 'HouseType', 'Income',
       'IsEcoDrive', 'IsIMP', 'IsUrbanMixNbrhd', 'LifeCycle', 'LocType',
       'Marea', 'NumAuto', 'NumHighCarSvc', 'NumLtTrk', 'OtherParkingCost',
       'OwnCost', 'OwnCostSavings', 'ParkingUnitCost', 'PropDvmtDiverted',
       'PropTdmDvmtReduction', 'SovDvmtProp', 'TransitTrips', 'UrbanDvmtProp',
       'Vehicles', 'VehicleTrips', 'WalkTrips', 'Wkr15to19', 'Wkr20to29',
       'Wkr30to54', 'Wkr55to64', 'Wkr65Plus', 'Workers', 'Scenario'],
      dtype='object')

### Workers

Overpredicting works by 15%

In [345]:
# daysim_hh['hhsize'].mean()
daysim_person[daysim_person['pwtyp'] > 0]['psexpfac'].sum()

1982128

In [346]:
hh_df_base['Workers'].sum()

1947147.0

### Income

In [347]:
hh_df_base.Income.mean()

107056.14741824458

In [348]:
hh_df_base.Income.median()

64250.298646754585

In [349]:
daysim_hh['hhincome'].mean()

107071.37261183994

In [54]:
daysim_hh['hhincome'].median()

82000.0

In [65]:
ax = daysim_hh['hhsize'].plot(kind='hist', bins=20, alpha=0.8)
hh_df_base['HhSize'].plot(ax=ax, kind='hist', bins=10, alpha=0.5)

In [66]:
df_daysim = daysim_hh.groupby('hhsize').count()[['hhexpfac']]
# [''].max()
df_ve = hh_df_base.groupby('HhSize').count()[['Age0to14']]

df_daysim.rename(columns={'hhexcpfac': 'daysim_hh'}, inplace=True)
df_ve.rename(columns={'Age0to14': 've_hh'}, inplace=True)
df_merge = df_daysim.merge(df_ve,left_index=True, right_index=True, how='left')

In [67]:
df_merge = df_merge.fillna(0)
df_merge/df_merge.sum()
pd.options.display.float_format = '{:0,.2f}'.format

In [69]:
df_merge.to_clipboard()

# There are fewer 2 person hh but more 3 person hh in visioneval

In [68]:
%matplotlib inline
hh_df_base['Income'].median()

76543.37639345457

In [70]:
# tot_list = ['Age0to14', 'Age15to19', 'Age20to29', 'Age30to54', 'Age55to64','Age65Plus', 'AveCO2ePM',
#             'AveCO2ePM', 'AveGPM', 'AveKWHPM', 'AveRoadUseTaxPM',
#        'AveSocEnvCostPM', 'AveTrpLenDiverted', 'AveVehCostPM', 'AveVehTripLen',
#        'DailyCO2e', 'DailyGGE','DailyKWH','Drivers', 'Drv15to19', 'Drv20to29', 'Drv30to54',
#        'Drv55to64', 'Drv65Plus', 'DrvAgePersons', 'Dvmt', 'FreeParkingSpaces','TransitTrips',
#        'Vehicles','VehicleTrips','WalkTrips','Workers']
tot_list = ['Dvmt']
df_18 = hh_df_base.groupby('Bzone').sum()[tot_list]
df_18['Scenario'] = 'base'
df_50 = hh_df_scen.groupby('Bzone').sum()[tot_list]
df_50['Scenario'] = 'scen'
df = df_18.append(df_50)
# df = df_18.copy()

In [71]:
# Calculate
df.groupby('Scenario').sum()[['Dvmt']]

                  Dvmt
Scenario
base     75,541,664.20
scen     88,842,710.55

In [112]:
# df.to_csv(r'C:\Workspace\VisionEval\models\VERSPM\tableau\bzone_totals.csv')

In [113]:
pd.options.display.float_format = '{:0,.0f}'.format
df.groupby('Scenario').sum()[['Dvmt']]

               Dvmt
Scenario
base     88,258,999
scen     88,842,711

In [72]:
tot_list = ['Age0to14', 'Age15to19', 'Age20to29', 'Age30to54', 'Age55to64','Age65Plus', 'AveCO2ePM',
            'AveCO2ePM', 'AveGPM', 'AveKWHPM', 'AveRoadUseTaxPM',
       'AveSocEnvCostPM', 'AveTrpLenDiverted', 'AveVehCostPM', 'AveVehTripLen',
       'DailyCO2e', 'DailyGGE','DailyKWH','Drivers', 'Drv15to19', 'Drv20to29', 'Drv30to54',
       'Drv55to64', 'Drv65Plus', 'DrvAgePersons', 'Dvmt', 'FreeParkingSpaces','TransitTrips',
       'Vehicles','VehicleTrips','WalkTrips','Workers']
# tot_list = ['Dvmt']
df_18 = hh_df_base.groupby('Bzone').sum()[tot_list]
df_18['Scenario'] = 'base'
df_50 = hh_df_scen.groupby('Bzone').sum()[tot_list]
df_50['Scenario'] = 'scen'
df = df_18.append(df_50)
# df = df_18.copy()

In [73]:
df['TotalTrips'] = df[['TransitTrips','VehicleTrips','WalkTrips']].sum(axis=1)
df['Transit Share'] = df['TransitTrips']/df['TotalTrips']
df['Walk Share'] = df['WalkTrips']/df['TotalTrips']
df['Auto Share'] = df['VehicleTrips']/df['TotalTrips']

In [82]:
hh_df_scen[['VehicleTrips','WalkTrips','TransitTrips']].sum().sum()

11414840.363679804

In [83]:
# Create some summaries based on block group locations within regional geographies
pd.options.display.float_format = '{:0,.0f}'.format
df.groupby('Scenario').sum()[['TransitTrips','VehicleTrips','WalkTrips']]

          TransitTrips  VehicleTrips  WalkTrips
Scenario
base           490,509     8,732,424  1,356,755
scen           356,821     9,730,033  1,327,986

In [89]:
len(daysim_trip[(daysim_trip['mode'].isin([3,4,5]) & (daysim_trip['dorp'] == 1))])

9987537

In [90]:
len(daysim_trip[(daysim_trip['mode'].isin([6,7]))])

480781

In [91]:
len(daysim_trip[(daysim_trip['mode'].isin([1]))])

2023687

In [78]:
df.groupby('Scenario').sum()[['DailyCO2e']]/454.0

          DailyCO2e
Scenario
base         70,804
scen         82,872

In [125]:
df_18

,Age0to14,Age15to19,Age20to29,Age30to54,Age55to64,Age65Plus,AveCO2ePM,AveCO2ePM,AveGPM,AveKWHPM,...,Drv65Plus,DrvAgePersons,Dvmt,FreeParkingSpaces,TransitTrips,Vehicles,VehicleTrips,WalkTrips,Workers,Scenario
Bzone,,,,,,,,,,,,,,,,,,,,,
530330001011,50,22,39,106,59,41,57,57,5,0,...,40,267,"5,545",254,28,268,685,99,170,base
530330001012,25,12,44,56,26,38,40,40,4,0,...,33,176,"2,895",49,25,189,400,69,107,base
530330001013,27,13,34,57,30,28,33,33,3,0,...,27,162,"3,289",162,16,164,375,58,100,base
530330001021,348,130,236,727,312,277,317,317,29,0,...,248,"1,682","47,939",1524,164,"1,716","5,227",680,"1,179",base
530330001022,211,73,170,384,181,173,197,197,18,0,...,161,981,"21,881",960,112,"1,000","2,594",382,631,base
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530619400015,161,74,123,338,174,123,170,170,15,0,...,120,832,"24,565",770,66,899,"1,899",300,558,base
530619400021,202,73,167,357,180,179,201,201,18,0,...,170,956,"24,742",924,93,986,"2,410",356,615,base
530619400022,118,52,106,295,138,118,157,157,14,0,...,113,709,"21,009",700,57,783,"1,638",260,487,base
530619400023,686,258,498,"1,407",616,615,698,698,64,0,...,586,"3,394","97,751",3228,284,"3,554","8,763","1,258","2,243",base
530619900020,55,14,20,85,41,26,31,31,3,0,...,0,186,779,188,104,186,248,115,127,base

In [120]:
df[['Age0to14','Age15to19','Age20to29','Age30to54',	'Age55to64','Age65Plus']].sum().sum()

8106306.0

# Bzone detail

In [89]:
# Locations with more MF housing
bzone_set_1 = [530330075023,530330075031,530330075032,530330076001,530330076002,530330076003]
bzone_set_1 = [str(i) for i in bzone_set_1]
_df = df[df.index.isin(bzone_set_1)]
# _df
_df.groupby('Scenario').sum()[['Dvmt','DailyCO2e','TransitTrips','VehicleTrips','WalkTrips']].to_clipboard()
# Locations with less SF housing
# bzone_set_2 = [530530703121,530530703122,530530703123,530530703124,530530703131,530530703132,
#                 530530703133,530530703074,530530703081,530530703082,530530703083,530530703091]
# bzone_set_1 = [str(i) for i in bzone_set_1]

In [90]:
# Locations with more MF housing
bzone_set_2 = [530530703121,530530703122,530530703123,530530703124,530530703131,530530703132,
                530530703133,530530703074,530530703081,530530703082,530530703083,530530703091]
bzone_set_2 = [str(i) for i in bzone_set_2]
_df = df[df.index.isin(bzone_set_2)]
# _df
_df.groupby('Scenario').sum()[['Dvmt','DailyCO2e','TransitTrips','VehicleTrips','WalkTrips']].to_clipboard()
# Locations with less SF housing

In [92]:
# all affected areas
bzone_set_3 = [530530703121,530530703122,530530703123,530530703124,530530703131,530530703132,
                530530703133,530530703074,530530703081,530530703082,530530703083,530530703091,
                530330075023,530330075031,530330075032,530330076001,530330076002,530330076003]
bzone_set_3 = [str(i) for i in bzone_set_3]
_df = df[df.index.isin(bzone_set_3)]
# _df
_df.groupby('Scenario').sum()[['Dvmt','DailyCO2e','TransitTrips','VehicleTrips','WalkTrips']].to_clipboard()
# Locations with less SF housing

In [83]:
df

,Age0to14,Age15to19,Age20to29,Age30to54,Age55to64,Age65Plus,AveCO2ePM,AveCO2ePM,AveGPM,AveKWHPM,...,TransitTrips,Vehicles,VehicleTrips,WalkTrips,Workers,Scenario,TotalTrips,Transit Share,Walk Share,Auto Share
Bzone,,,,,,,,,,,,,,,,,,,,,
530330001011,54,18,71,99,45,45,62,62,6,0,...,34,283,654,110,181,base,799,0,0,1
530330001012,44,9,54,70,18,22,42,42,4,0,...,32,189,412,71,125,base,515,0,0,1
530330001013,38,9,29,60,25,37,38,38,4,0,...,19,163,378,59,90,base,456,0,0,1
530330001021,379,137,225,767,261,259,351,351,32,0,...,159,"1,715","5,400",659,"1,183",base,"6,219",0,0,1
530330001022,224,72,136,394,178,196,217,217,20,0,...,118,993,"2,580",376,619,base,"3,073",0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530619400015,216,52,95,346,134,181,189,189,17,0,...,66,869,"1,975",289,510,scen,"2,331",0,0,1
530619400021,177,66,109,380,179,200,221,221,20,0,...,78,972,"2,535",335,589,scen,"2,948",0,0,1
530619400022,134,68,102,305,143,130,171,171,16,0,...,54,826,"1,763",266,494,scen,"2,083",0,0,1
530619400023,692,254,444,"1,423",609,678,771,771,70,0,...,277,"3,606","9,200","1,243","2,236",scen,"10,720",0,0,1
530619900020,54,22,19,95,22,35,34,34,3,0,...,130,193,219,130,134,scen,479,0,0,0

# Marea

In [157]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore'
year = '2018'
def export_Marea(output_dir, year, scenario_name):

    df = pd.DataFrame()
    df_path = os.path.join(output_dir, year, 'Marea')
    for fname in os.listdir(df_path):
        # print(fname)
        result = pyreadr.read_r(os.path.join(df_path, fname))
        df[fname.split('.')[0]] = result['Dataset']['Dataset']
    df['Scenario'] = scenario_name
    return df

In [158]:
df = export_Marea(output_dir, year='2018', scenario_name='base').T

In [156]:
df

                        0
AccessMgtDeployProp     0
ArtDvmtPropExtCong      0
ArtDvmtPropHvyCong      0
ArtDvmtPropModCong      0
ArtDvmtPropNoneCong     1
...                   ...
VanPropGasoline         1
VanPropHev              0
VanPropIcev             1
VPRevMi                 0
Scenario             base

[149 rows x 1 columns]

In [105]:
df = export_households('C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore', year='2018', scenario_name='base').T
df.loc['TranRevMiPC']

0   0
Name: TranRevMiPC, dtype: object

In [107]:
df.loc['UrbanPop']

0   4,053,204
Name: UrbanPop, dtype: object

In [111]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore'
year = '2018'
hh_scen_18 = export_households(output_dir, year='2018', scenario_name='2018')

In [112]:

pd.options.display.float_format = '{:0,.0f}'.format
hh_scen_18.groupby('Scenario').sum()[['Dvmt']]

                Dvmt
Scenario
2018     120,910,489

In [113]:
df = hh_scen_18.copy()
df['TotalTrips'] = df[['TransitTrips','VehicleTrips','WalkTrips']].sum(axis=1)
df['Transit Share'] = df['TransitTrips']/df['TotalTrips']
df['Walk Share'] = df['WalkTrips']/df['TotalTrips']
df['Auto Share'] = df['VehicleTrips']/df['TotalTrips']

In [114]:
pd.options.display.float_format = '{:0,.1%}'.format
df.groupby('Scenario').mean()[['Walk Share','Transit Share','Auto Share']]

          Walk Share  Transit Share  Auto Share
Scenario
2018           10.8%           1.5%       87.7%

# Bzone

In [312]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM\Datastore'
year = '2018'
def export_bzone(output_dir, year, scenario_name):

    hh_df = pd.DataFrame()
    hh_path = os.path.join(output_dir, year, 'Bzone')
    for fname in os.listdir(hh_path):
        result = pyreadr.read_r(os.path.join(hh_path, fname))
        hh_df[fname.split('.')[0]] = result['Dataset']['Dataset']
    hh_df['Scenario'] = scenario_name

    return hh_df

In [315]:
output_dir = r'C:\Workspace\VisionEval\models\VERSPM\Datastore'
df = export_bzone(output_dir, '2018', 'base')
df
# df[df['Bzone'].isin(['530619900020','530330001012'])].T

,Azone,Bzone,CarSvcLevel,D1B,D1C,D1D,D2A_EPHHM,D2A_JPHH,D2A_WRKEMP,D3bpo4,...,RuralPop,SF,SFDU,SvcEmp,TotEmp,TownArea,TownPop,UrbanArea,UrbanPop,Scenario
0,PSRC,530330001011,High,"6,074.85","1,617.56","4,151.75",0.67,0.64,1.93,5.00,...,0.00,127,92,9.00,90.00,0.00,0.00,0.06,338.00,base
1,PSRC,530330001012,High,"5,442.72","2,346.86","4,943.39",0.82,0.90,1.36,2.00,...,0.00,24,17,32.00,94.00,0.00,0.00,0.04,218.00,base
2,PSRC,530330001013,High,"2,978.16","2,125.04","3,396.96",0.73,1.67,0.70,4.00,...,0.00,82,59,9.00,137.00,0.00,0.00,0.06,192.00,base
3,PSRC,530330001021,High,"6,013.38",0.00,"2,248.38",0.00,0.00,0.00,9.00,...,0.00,762,551,0.00,0.00,0.00,0.00,0.34,"2,038.00",base
4,PSRC,530330001022,High,"6,960.97","2,697.82","5,532.01",0.80,0.95,1.37,13.00,...,0.00,478,346,24.00,455.00,0.00,0.00,0.17,"1,174.00",base
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,PSRC,530619400021,High,994.85,17.81,409.64,0.26,0.05,29.67,8.00,...,"1,173.00",462,334,0.00,21.00,0.00,0.00,0.00,0.00,base
2924,PSRC,530619400022,High,127.53,0.57,50.44,0.06,0.01,124.50,5.00,...,895.00,350,253,1.00,4.00,0.00,0.00,0.00,0.00,base
2925,PSRC,530619400023,High,586.34,0.86,233.38,0.04,0.00,378.00,10.00,...,"4,070.00",1614,1167,0.00,6.00,0.00,0.00,0.00,0.00,base
2926,PSRC,530619900020,High,"4,452,621.86","519,472.55","2,263,416.11",0.55,0.30,4.64,0.00,...,240.00,94,69,11.00,28.00,0.00,0.00,0.00,0.00,base
2927,PSRC,530619901000,High,0.00,0.00,0.00,NaN,0.00,0.00,0.00,...,0.00,0,0,0.00,0.00,0.00,0.00,0.00,0.00,base

In [317]:
df['UrbanArea'].sum()

864.5972366484482

# Change rdata inputs exogenously

https://github.com/VisionEval/VisionEval/blob/master/sources/modules/VELandUse/inst/module_docs/PredictHousing.md

In [65]:
# Change the housing location exogenously and re-run the model


result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Household\Bzone.RDa')

In [67]:
# result

In [68]:

rural_area = [530330234031,530330234041,530330234042,530330250071,
            530330250073,530330250081,530330250082,530330322073]
rural_area = [str(i) for i in rural_area]
urban_area = [530330075031,530330075032]
urban_area = [str(i) for i in urban_area]

# Get index of households to edit
hh_index = result['Dataset'][result['Dataset']['Dataset'].isin(rural_area)].index


# Reset household's Bzone to be in a specific zone in First hill Seattle
result['Dataset'].loc[result['Dataset']['Dataset'].isin(rural_area),'Dataset'] = '530330075031'
# write_rdata

In [69]:
# result['Dataset'].write_rdata(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Household\Bzone.RDa')
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\Bzone.RDa', result, df_name="Dataset")

PyreadrError: df must be a pandas data frame

In [19]:
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\HouseType.RDa')['Dataset']

In [28]:
# Set all to Multi-family
result.iloc[hh_index]['Dataset'] = 'MF'
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\HouseType.RDa', result, df_name="Dataset")

C:\Users\Modeller\Anaconda3\envs\summary\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
# Update Bzone columns: SF, MF, GQ, Pop, NumHH, Num Wkr
# Get index of changed zone(s)
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\Bzone.RDa')['Dataset']
bzone_index = result[result['Dataset'].isin(['530330075031'])].index

In [58]:
bzone_index

Int64Index([324], dtype='int64')

In [42]:
# Get total population and number of HHs of the area being removed
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Household\HhSize.RDa')['Dataset']
moved_pop_sum = result.iloc[hh_index].sum()
moved_hh_sum = len(hh_index)

In [59]:
# Get total number of workers
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Household\Workers.RDa')['Dataset']
moved_workers_sum = result.iloc[hh_index].sum()

In [44]:
# Note we are not updating number of SF units
# result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Bzone\SF.RDa')['Dataset']

# also not changing GQ

# Update number of MF units in line with number of HHs
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\MF.RDa')['Dataset']
result.iloc[bzone_index]['Dataset'] = result['Dataset']+moved_hh_sum 
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\MF.RDa', result, df_name="Dataset")

C:\Users\Modeller\Anaconda3\envs\summary\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
# Update population 
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\Pop.RDa')['Dataset']
result.iloc[bzone_index]['Dataset'] = result['Dataset']+moved_pop_sum 
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\Pop.RDa', result, df_name="Dataset")

C:\Users\Modeller\Anaconda3\envs\summary\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
# update number of households
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\NumHh.RDa')['Dataset']
result.iloc[bzone_index]['Dataset'] = result['Dataset']+moved_hh_sum 
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Household\NumHh.RDa', result, df_name="Dataset")

C:\Users\Modeller\Anaconda3\envs\summary\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
# Update number of workers

result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\NumWkr.RDa')['Dataset']
result.iloc[bzone_index]['Dataset'] = result['Dataset']+moved_workers_sum 
pyreadr.write_rdata(r'C:\Workspace\VisionEval\models\VERSPM_TDR_scen1\Datastore\2018\Bzone\NumWkr.RDa', result, df_name="Dataset")

C:\Users\Modeller\Anaconda3\envs\summary\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [63]:
result.iloc[bzone_index]

     Dataset
324    686.0

In [56]:
result = pyreadr.read_r(r'C:\Workspace\VisionEval\models\VERSPM\Datastore\2018\Bzone\NumWkr.RDa')

In [57]:
result

OrderedDict([('Dataset',
                    Dataset
              0       180.0
              1       122.0
              2       103.0
              3      1244.0
              4       584.0
              ...       ...
              2923    600.0
              2924    479.0
              2925   2333.0
              2926    138.0
              2927      0.0

              [2928 rows x 1 columns])])