In [2]:
# Compare our survey data to the NHTS (or SANDAG versions) 

import pyreadr
import pandas as pd

In [73]:
fname = r'C:\Workspace\VisionEval_build\ve-dev-bgn\sources\modules\VE2001NHTS\data-raw\Per_df.Rda'
nhts_person = pyreadr.read_r(fname)['Per_df']

In [78]:
fname = r'C:\\Workspace\\VisionEval\\psrc_scripts\\survey_data\\Per_df.Rda'
psrc_person = pyreadr.read_r(fname)['Per_df']

In [79]:
nhts_person.describe()

,PERSONID,COMMDRVR,NBIKETRP,NWALKTRP,USEPUBTR,WRKDRIVE,WRKTRANS,WORKER,DTGAS,DISTTOWK,DRIVER,R_AGE,R_SEX
count,160758.000000,160758.000000,160758.00000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000,160758.000000
mean,2.060961,0.235254,-0.08733,2.212867,1.684115,0.235254,0.775737,0.988996,0.563356,2.655349,0.800365,38.520758,1.523134
std,1.237652,1.418057,1.11675,5.316795,0.886570,1.418057,4.254345,1.011678,3.293787,15.657666,0.867978,23.356169,0.509454
min,1.000000,-9.000000,-9.00000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-8.000000
25%,1.000000,-1.000000,0.00000,0.000000,2.000000,-1.000000,-1.000000,1.000000,-1.000000,-9.000000,1.000000,17.000000,1.000000
50%,2.000000,-1.000000,0.00000,0.000000,2.000000,-1.000000,-1.000000,1.000000,1.000000,-1.000000,1.000000,40.000000,2.000000
75%,3.000000,2.000000,0.00000,3.000000,2.000000,2.000000,1.000000,2.000000,3.000000,6.000000,1.000000,56.000000,2.000000
max,14.000000,2.000000,70.00000,90.000000,2.000000,2.000000,91.000000,2.000000,5.000000,925.000000,2.000000,88.000000,2.000000

In [80]:
psrc_person.describe()

,PERSONID,COMMDRVR,NBIKETRP,NWALKTRP,USEPUBTR,WRKDRIVE,WRKTRANS,WORKER,DTGAS,DISTTOWK,DRIVER,R_AGE,R_SEX
count,11930.000000,11930.0,11930.0,11930.0,11930.0,11930.0,11930.0,11930.000000,11930.0,11930.000000,11930.000000,11930.000000,11930.000000
mean,1.712992,2.0,0.0,0.0,2.0,2.0,-1.0,0.566136,3.0,2.535941,1.127578,39.722716,1.681140
std,0.955691,0.0,0.0,0.0,0.0,0.0,0.0,0.495628,0.0,6.747236,0.333633,20.187745,1.228079
min,1.000000,2.0,0.0,0.0,2.0,2.0,-1.0,0.000000,3.0,-1.000000,1.000000,2.000000,1.000000
25%,1.000000,2.0,0.0,0.0,2.0,2.0,-1.0,0.000000,3.0,-1.000000,1.000000,30.000000,1.000000
50%,1.000000,2.0,0.0,0.0,2.0,2.0,-1.0,1.000000,3.0,-1.000000,1.000000,40.000000,2.000000
75%,2.000000,2.0,0.0,0.0,2.0,2.0,-1.0,1.000000,3.0,3.530000,1.000000,50.000000,2.000000
max,9.000000,2.0,0.0,0.0,2.0,2.0,-1.0,1.000000,3.0,85.020000,2.000000,85.000000,9.000000

In [81]:
nhts_person.head().T.to_clipboard()

In [82]:
psrc_person.head().T.to_clipboard()

# Household

In [114]:
fname = r'C:\Workspace\VisionEval_build\ve-dev-bgn\sources\modules\VE2001NHTS\data-raw\Hh_df.Rda'
nhts_hh = pyreadr.read_r(fname)['Hh_df']

In [115]:
nhts_hh.head().T.to_clipboard()

In [116]:
fname = r'C:\\Workspace\\VisionEval\\psrc_scripts\\survey_data\\Hh_df.Rda'
psrc_hh = pyreadr.read_r(fname)['Hh_df']

In [117]:
psrc_hh.head().T.to_clipboard()

In [119]:
nhts_hh['CENSUS_R'].unique()

array([3, 1, 4, 2])

In [120]:
nhts_hh['CENSUS_D'].unique()

array([5, 2, 9, 1, 4, 3, 8, 7, 6])

In [121]:
psrc_hh['CENSUS_D'].unique()

array(['Pacific'], dtype=object)

# Vehicle

In [91]:
fname = r'C:\Workspace\VisionEval_build\ve-dev-bgn\sources\modules\VE2001NHTS\data-raw\Veh_df.Rda'
nhts_veh = pyreadr.read_r(fname)['Veh_df']

In [92]:
fname = r'C:\\Workspace\\VisionEval\\psrc_scripts\\survey_data\\Veh_df.Rda'
psrc_veh = pyreadr.read_r(fname)['Veh_df']

In [93]:
nhts_veh.head().T.to_clipboard()

In [94]:
psrc_veh.head().T.to_clipboard()

# Tour

In [104]:
fname = r'C:\Workspace\VisionEval_build\ve-dev-bgn\sources\modules\VE2001NHTS\data-raw\ToursByHh_df.Rda'
nhts_tour = pyreadr.read_r(fname)['ToursByHh_df']

In [105]:
fname = r'C:\\Workspace\\VisionEval\\psrc_scripts\\survey_data\\ToursByHh_df.Rda'
psrc_tour = pyreadr.read_r(fname)['ToursByHh_df']

In [106]:
nhts_tour.head().T.to_clipboard()

In [107]:
psrc_tour.head().T.to_clipboard()

In [113]:
'3' in psrc_tour['Whyto'].unique()

True

# Trip

In [100]:
fname = r'C:\Workspace\VisionEval_build\ve-dev-bgn\sources\modules\VE2001NHTS\data-raw\Dt_df.Rda'
nhts_trip = pyreadr.read_r(fname)['Dt_df']

In [101]:
fname = r'C:\\Workspace\\VisionEval\\psrc_scripts\\survey_data\\Dt_df.Rda'
psrc_trip = pyreadr.read_r(fname)['Dt_df']

In [102]:
nhts_trip.head().T.to_clipboard()

In [103]:
psrc_trip.head().T.to_clipboard()